In [1]:
! git clone https://github.com/imthatpiggy/scratchpad

Cloning into 'scratchpad'...
remote: Enumerating objects: 27, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 27 (delta 2), reused 1 (delta 1), pack-reused 23 (from 1)
Receiving objects: 100% (27/27), 26.79 KiB | 946.00 KiB/s, done.
Resolving deltas: 100% (7/7), done.

In [2]:
import urllib.request
import os
import zipfile
import os

def download_data(force=False):
    """Download and extract course data from Zenodo."""

    zip_path = 'data.zip'
    data_dir = './data'

    if not os.path.exists(zip_path) or force:
        print("Downloading course data...")
        urllib.request.urlretrieve(
            'https://zenodo.org/records/18235955/files/data.zip?download=1',
            zip_path
        )
        print("Download complete")

    if not os.path.exists(data_dir) or force:
        print("Extracting data files...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(data_dir)
        print("Data extracted")

    return data_dir


if __name__ == "__main__":
    download_data()

Downloading course data...
Download complete
Extracting data files...
Data extracted

In [12]:
import pandas as pd

df = pd.read_csv('/content/data/airbnb_NYC.csv', encoding = 'latin1')

df.head()

print(df['Price'].str.replace(',', '').astype(float).describe())
df['Property Type'].value_counts()

count    30478.000000
mean       163.589737
std        197.785454
min         10.000000
25%         80.000000
50%        125.000000
75%        195.000000
max      10000.000000
Name: Price, dtype: float64

Property Type
Apartment          27102
House               2090
Loft                 753
Bed & Breakfast      180
Townhouse            136
Condominium           94
Other                 47
Dorm                  31
Boat                   8
Villa                  8
Camper/RV              7
Treehouse              4
Bungalow               4
Tent                   4
Cabin                  2
Hut                    2
Lighthouse             1
Chalet                 1
Castle                 1
Name: count, dtype: int64